body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Countdown */
#countdown {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    font-size: 120px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 20px #000000, 0 0 40px #ff0000;
}


/* Popup */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

.popup-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px white;
    animation: zoomIn 1s ease;
}

.popup-content h1 {
    color: #ffffff;
    font-size: 50px;
}

.popup-content p {
    color: #ffffff;
    font-size: 20px;
}

/* Image */
.birthday-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 20px white;
    margin-bottom: 20px;
}

/* Hearts */
.heart {
    position: absolute;
    bottom: -10px;
    color: white;
    font-size: 20px;
    animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* Confetti */
.confetti {
    position: absolute;
    font-size: 25px;
    animation: fall 3s linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes zoomIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}